/*Селектор элемента*/
td {
    align-content: center;
}

/*Наследование-все остальные элементы, находящиеся внутри этого тега, независимо от уровня вложенности, унаследуют единое фоновое изображение.*/
body {
    font-size: 16px;
    font-family: "Open Sans", "Arial", sans-serif;
    background-image: url("pics/back.gif");
    background-size:cover;
    background-attachment: fixed;
    overflow-x: hidden;

}

/*Селектор идентификатора*/
#main_table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px;
}

/*Селектор идентификатора*/
#sec_table {
    width: 50%;
    padding-top: 100px;
}

/*Селектор класса*/
.text {
    color: #2B2B2B;
}

/*Селектор идентификатора*/
#check, #res {
    width: 120px;
    height: 30px;
    border-radius: 10px;
}

/*Селектор идентификатора*/
#MyEdit2 {
    background-color: #0059CEFF;

}
#xval {
    background-color: #0059CEFF;
}
#Y {
    background-color:#0059CEFF;
}

/*Селектор идентификатора*/
#trouble {
    color: white;
}

/*Дочерний селектор*/
form > .otstup {
    width: 350px;
    align-items: center;
    vertical-align: top;
}


/*Наведение*/
#check:hover, #res:hover {
    background: #F5DEB3 !important;
}

/*Нажатие*/
#check:active, #res:active {
    background: #6d51f1 !important;
}

/*Селектор атрибута*/
img[alt="График"] {
    box-shadow: 0 0 4px;
}

/*Селектор атрибута*/
iframe[name="result"] {
    border-width: 0px;
    height: 160px;
}

/*Селектор атрибута*/
input[name="r1"]:focus {
    background: #6d51f1;
}

/*~Каскадирование~*/
th {
    color: #2B2B2B;
    font-size: 20px;


}
.info {
    font-family: sans-serif;
}
/*~.............~*/


#result-table {
    width: 500px;
    text-align: center;
    alignment: top;
    background-color: aliceblue;
    border-top: 5px ridge #6d51f1;
}
#result-table tr {
    height: 2em;
}
#result-table th {
    background-color: thistle;
    height: 2em;
}
#result-table td {
    border-right: 1px solid plum;
    border-bottom: 1px solid plum;
}
#info_div{
    background-color: white;
    border-radius: 5px;
    width:75%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.container {
    width: 518px;
    height: 450px;
    overflow: scroll;
    background-color: white;
    border-right: 5px ridge #6d51f1;
    border-left: 5px ridge #6d51f1;
    border-bottom: 5px ridge #6d51f1;
}

.podpis{
    color: #2B2B2B;
    font-family: sans-serif;
    font-weight: bold;
}
#illuminated{
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ffffff, #752fbb);
    color: transparent;

    -webkit-background-clip: text;
}
.radio{
    display: inline;
}

